@model project.Models.OfficialJob

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminMainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OfficialJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobDescriptaion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobDescriptaion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isdeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isdeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
