@model project.Models.Official

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Official</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Official1.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Official1.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficialJob.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficialJob.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isLeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isdeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isdeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
