@model project.Models.Complaint

@{
    ViewBag.Title = "تفاصيل شكوى";
    Layout = "~/Views/Shared/officialLayout.cshtml";
}



    <div class="bg-light mt-3">
        <dl class="dl-horizontal">
            <dt>
                المدينة

            </dt>
            <dd>
                @Html.DisplayFor(model => model.city.name)
            </dd>

            <dt>
                الشاكى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Citzen.fName)
            </dd>

            <dt>
                تصنيف الشكوى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Complaint_Catgories.Cat_Name)
            </dd>

            <dt>
                الخدمة
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Entity_Branchs.title)
            </dd>

            <dt>
                رقم الشكوى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.comNumber)
            </dd>

            <dt>
                عنوان الشكوى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.comTitle)
            </dd>

            <dt>
                تفاصيل الشكوى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.comDescription)
            </dd>

            <dt>
                مرفقات الشكوى 1
            </dt>
            <dd>
                <img src="~/images/@Html.DisplayFor(model => model.comFile)" style="width:40%; height:200px" />
            </dd>

            <dt>
                مرفقات الشكوى 2
            </dt>
            <dd>
                <img src="~/images/@Html.DisplayFor(model => model.comFile2)" style="width:40%; height:200px" />
            </dd>

            <dt>
                نوع الشكوى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.comType)
            </dd>

            <dt>
                تاريخ الشكوى
            </dt>
            <dd>
                @Html.DisplayFor(model => model.comDate)
            </dd>


        </dl>

    </div>
<p>
    @Html.ActionLink("الرجوع", "home", null, new { @class = "btn btn-danger" })
</p>
<style>
    body {
        text-align: center;
    }

    .btn {
        display: inline;
    }
</style>

