
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/officialLayout.cshtml";
}

    <table class="table table-responsive table-bordered  table-sortable mt-4 text-right">
        <thead style="background-color:rgb(37, 163, 153)">

            <tr>
                <th>#</th>
                <th scope="col">عنوان الشكوي</th>
                <th scope="col">رقم الشكوي </th>
                <th scope="col">تاريخ الشكوي</th>
                <th scope="col"> </th>
                <th scope="col"> </th>



            </tr>
        </thead>
        <tbody>
            
            @foreach (var complaint in Model)
            {
            <tr>
                <td></td>
                <td>@complaint.comTitle</td>
                <td>@complaint.comNumber</td>
                <td>@complaint.comDate</td>
                <td>
                    @Html.ActionLink("حل", "SolveOfComp", "Officials", new { id = complaint.id }, new { @class = "btn btn-info m-1 " })
</td>
                <td>
                    @Html.ActionLink("التفاصيل", "DetailsOfComp", "Officials", new { id = complaint.id }, new { @class = "btn btn-info m-1 " })
                </td>
            </tr>
            }

        </tbody>
    </table>