@model IEnumerable<project.Models.Official>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2 class="text-center">المسئولين</h2>

<div class="col-sm-3 mb-2 col-sm-offset-11 ">
    @Html.ActionLink(" اضافة مسئول جديد", "Create", "Officials", null, new { @class = "btn btn-info " })
</div>

    <table class="table table-responsive table-bordered table-hover table-sortable mt-4 text-right">
        <thead style="background-color:rgb(37, 163, 153)">

            <tr>
                <th scope="col">الاسم الاول</th>
                <th scope="col">الاسم الاوسط</th>
                <th scope="col">الاسم الاخير</th>
                <th scope="col">اسم المستخدم</th>
                <th scope="col">الرقم السري</th>
                <th scope="col">الايميل</th>
                <th scope="col">رقم الموبايل</th>
                <th scope="col">رقم الموبايل</th>
                <th scope="col">الوظيفه</th>
                <th scope="col">مدير</th>
                <th scope="col">محذوف</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.fName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.passWord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isLeader)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isdeleted)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Officials", new { id = item.id }, new { @class = "btn btn-info m-1 " })

                        @Html.ActionLink("Details", "Details", "Officials", new { id = item.id }, new { @class = "btn btn-info m-1  " })

                        @Html.ActionLink("Delete", "Delete", "Officials",new { id = item.id }, new { @class = "btn btn-info m-1 " })
                    </td>
                </tr>
            }
        </tbody>
    </table>
