@model project.Models.Common_Qustion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Common_Qustion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Questation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
