@model project.Models.Complaint

@{
    ViewBag.Title = "ارسال دعوى";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}


        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div id="main-div" class="form-horizontal">
                <fieldset style="font-weight:bold;font-size:20px;border:1px solid rgb(37,163,153)">
                    <legend class="text-center btn btn-danger" style="margin-top:30px;font-weight:bold;font-size:25px;cursor:default;background-color:rgb(37,163,153)">الشكوى</legend>


                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="row form-group" style="margin-top: 15px;">
                         
                            <div class="col-md-3">
                                <label>عنوان الشكوى</label>
                               
                            </div>
                            <div class="col-md-3 text-right">
                                @Html.EditorFor(model => model.comTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                                @Html.ValidationMessageFor(model => model.comTitle, "", new { @class = "text-danger" })
                            </div>


                        </div>


                        <div class="row form-group">
                       
                            <div class="col-md-3">
                                <label>تفاصيل الشكوى</label>
                          
                            </div>                

                            <div class="col-md-4 text-right">
                                @Html.TextAreaFor(model => model.comDescription, 7, 45, new { htmlAttributes = new { @class = "form-control" }, @style = "twx:jhk" })
                                @Html.ValidationMessageFor(model => model.comDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                          
                            <div class="col-md-3">
                                <label>مرفقات الشكوى 1 </label>
                            </div>
                            <div class="col-md-4 text-right">
                                <input type="file" name="comFile1" class="form-control" />
                                @Html.ValidationMessageFor(model => model.comFile, "", new { @class = "text-danger" })
                                
                            </div>
                        </div>

                        <div class="row form-group">
                  
                            <div class="col-md-3">
                                <label>مرفقات الشكوى 2 </label>
                            </div>
                            <div class="col-md-4 text-right">
                                <input type="file" name="comFile2" class="form-control" />
                                @Html.ValidationMessageFor(model => model.comFile2, "", new { @class = "text-danger" })
                                
                            </div>
                        </div>

                        <div class="row form-group">
                          
                            <div class="col-md-3">

                                <label>نوع الشكوى</label>
                            </div>
                            <div class="col-md-4 text-right">
                                @Html.EditorFor(model => model.comType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.comType, "", new { @class = "text-danger" })
                               
                            </div>
                        </div>

                        <div class="row form-group">
               
                            <div class="col-md-3">
                                <label>تصنيف الشكوى</label>
                            </div>
                       
                            <div class="col-md-4 text-right">
                                @Html.DropDownList("comCategory", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.comCategory, "", new { @class = "text-danger" })
                              
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-3">
                              <label> مدينة</label>
                            </div>
                        
                            <div class="col-md-4 text-right">
                                @Html.DropDownList("comCity", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.comCity, "", new { @class = "text-danger" })
                            
                            </div>
                        </div>

                        <div class="row form-group">
                         
                            <div class="col-md-3">
                                <label>الخدمة</label>
                            </div>
                          
                            <div class="col-md-4 text-right">
                                @Html.DropDownList("comEntitybranch", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.comEntitybranch, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom:80px;">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("الغاء", "Index", "", new { @style = "font-size:20px;font-weight:bold;margin-top:10px;background-color:rgb(37,163,153)", @class = "btn btn-success" })
                                <input type="submit" value="ادخال" class="btn btn-success" style="margin-top:10px;font-weight:bold;font-size:20px" />

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        }

<style>
    input[type="submit"] {
        background-color: rgb(37,163,153);
        text-align: center;
    }

    #main-div {
        margin-top:20px;
        text-align: center;
        
     
    }

    #header, #footer .footer-top {
        direction: rtl;
    }
</style>





