@model project.Models.Complaint

@{
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div id="main-div"class="form-horizontal">

            <fieldset style="font-weight:bold;font-size:20px;border:1px solid rgb(37,163,153)">
                <legend class="text-center btn btn-danger" style="font-weight:bold;font-size:25px;cursor:default;background-color:rgb(37,163,153)">الشكوى</legend>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.comTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.comTitle, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4 text-right">
                        <label>: عنوان الشكوى</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.comDescription, 7, 45, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.comDescription, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-md-4 text-right">
                        <label>: تفاصيل الشكوى</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        @Html.DropDownList("comEntity_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.comEntity_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4 text-right">
                        <label>: الوزارة</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        @Html.DropDownList("comEntitybranch_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.comEntitybranch_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4 text-right">
                        <label>: المحافظة</label>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        @Html.DropDownList("comCity", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.comCity, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4 text-right">
                        <label>: المدينة</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <input type="file" name="comFile" class="form-control" />

                        @Html.ValidationMessageFor(model => model.comFile, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 text-right">
                        <label>: مرفقات الشكوى</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("الغاء", "Index", "", new {  @style = "font-size:20px;font-weight:bold;margin-top:10px;background-color:rgb(37,163,153)",@class = "btn btn-success" })
                        <input type="submit" value="ادخال" class="btn btn-success" style="margin-top:10px;font-weight:bold;font-size:20px" />

                    </div>
                </div>
            </fieldset>

        </div>

    }



    <style>

        input[type="submit"]{
            background-color:rgb(37,163,153);text-align:center;
        }
    </style>
</body>
</html>
