@model project.Models.Complaint

@{
    ViewBag.Title = "تفاصيل شكوى";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}



<div>

    <hr />
    <table class="table table-bordered" style="margin-right:-2%;">
        <thead class="thead text-right" style="background:#25a399;">
            <tr>
                <th>
                    المدينة
                </th>
                <th>
                    الشاكى
                </th>
                <th>
                    تصنيف الشكوى
                </th>
                <th>
                    الخدمة
                </th>

                <th>
                    الموظف الذى حل الشكوى
                </th>

                <th>
                    الموظف الذى قرأ الشكوى
                </th>
                <th>
                    رقم الشكوى
                </th>

                <th>
                    عنوان الشكوى
                </th>
                <th>
                    مرفقات الشكوى 1
                </th>
                <th>
                    تفاصيل الشكوى
                </th>
                <th>
                    مرفقات الشكوى 2
                </th>
                <th>
                    نوع الشكوى
                </th>

                <th>
                    تاريخ الشكوى
                </th>
                <th>
                    الشكوى قرأت ام لا ؟
                </th>
                <th>
                    الشكوى اتحلت ام لا ؟
                </th>

                <th>
                    تفاصيل الحل
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.city.name)
                </td>



                <td>
                    @Html.DisplayFor(model => model.Citzen.fName)
                </td>



                <td>
                    @Html.DisplayFor(model => model.Complaint_Catgories.Cat_Name)
                </td>



                <td>
                    @Html.DisplayFor(model => model.Entity_Branchs.title)
                </td>


                <td>
                    @Html.DisplayFor(model => model.Official.fName)
                </td>


                <td>
                    @Html.DisplayFor(model => model.Official1.fName)
                </td>



                <td>
                    @Html.DisplayFor(model => model.comNumber)
                </td>



                <td>
                    @Html.DisplayFor(model => model.comTitle)
                </td>


                <td>
                    @Html.DisplayFor(model => model.comDescription)
                </td>



                <td>
                    <a href="~/images/@Html.DisplayFor(model => model.comFile)"><img src="~/images/@Html.DisplayFor(model => model.comFile)" style="width:50%" /></a>
                </td>



                <td>
                    <a href="~/images/@Html.DisplayFor(model => model.comFile)"><img src="~/images/@Html.DisplayFor(model => model.comFile2)" style="width:50%" /></a>
                </td>

                <td>
                    @Html.DisplayFor(model => model.comDate)
                </td>



                <td>
                    @Html.DisplayFor(model => model.comType)
                </td>



                <td>
                    @Html.DisplayFor(model => model.isreaded)
                </td>



                <td>
                    @Html.DisplayFor(model => model.isSolved)
                </td>


                <td>
                    @Html.DisplayFor(model => model.solveDescription)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.id }, new { @class = "btn btn-danger" })
    @Html.ActionLink("الرجوع", "Index", null, new { @class = "btn btn-danger" })
</p>
<style>
    body {
        text-align: center;
    }

    .btn {
        display: inline;
    }
</style>
  
