@model project.Models.Complaint

@{
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تعديل</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>الشكوى</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
    
            <div class="form-group">
                <label class = "control-label col-md-2">رقم الشكوى</label>
           
                <div class="col-md-10">
                    @Html.EditorFor(model => model.comNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.comNumber, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">عنوان الشكوى</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.comTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.comTitle, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">تفاصيل الشكوى</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.comDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.comDescription, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">المحافظة</label>
                <div class="col-md-10">
                    @Html.DropDownList("comEntitybranch_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.comEntitybranch_id, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">الوزارة</label>
                <div class="col-md-10">
                    @Html.DropDownList("comEntity_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.comEntity_id, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">مرفقات الشكوى</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.comFile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.comFile, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">تاريخ الشكوى</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.comDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.comDate, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">حالة الشكوى</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.comStatus)
                        @Html.ValidationMessageFor(model => model.comStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2">المدينة</label>
                <div class="col-md-10">
                    @Html.DropDownList("comCity", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.comCity, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("الرجوع", "Index",null,new { @class="btn btn-primary"})
                    <input type="submit" value="حفظ" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    

    <style>
        body {
            text-align: center;
        }

        .btn {
            display: inline;
        }
    </style>
</body>
</html>
