@model IEnumerable<project.Models.Complaint>

@{
    ViewBag.Title = "الشكاوى";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

    <div  style="margin-right: -8%;
   
    border: groove;
    width: 115%;
    padding: 4%;
    margin-top: 7%;
        background: #f1f1f1;
">



        <table class="table table-bordered" style="margin-right:-2%;">
            <thead class="thead text-right" style="background:#25a399;">
                <tr>
                    <th scope="col" style="width:20%;">المدينة</th>
                    <th scope="col"> الشاكى</th>
                    <th scope="col">التصنيف </th>
                    <th scope="col">الخدمة</th>
                    <th scope="col">موظف قام بالحل </th>
                    <th scope="col">موظف قام بالقرأ </th>
                    <th scope="col"> رقم الشكوى </th>
                    <th scope="col"> عنوان الشكوى</th>
                    <th scope="col"> تفاصيل الشكوى</th>
                    <th scope="col"> مرفق 1</th>
                    <th scope="col">  مرفق 2 </th>
                    <th scope="col"> التاريخ </th>
                    <th scope="col"> النوه</th>
                    <th scope="col"> قرأت ام لا</th>
                    <th scope="col">  اتحلت ام لا</th>
                    <th scope="col">حل الشكوى</th>

                    <th scope="col"> تعديل</th>
                    <th scope="col">  تفاصيل</th>
                    <th scope="col">حذف</th>


                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.city.name)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.Citzen.fName)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.Complaint_Catgories.Cat_Name)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.Entity_Branchs.title)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.Official.fName)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.Official1.fName)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.comNumber)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.comTitle)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.comDescription)
                        </td>
                        <td class="container">
                            <img src="/images/@item.comFile" style="width:30%;" />
                        </td>
                        <td class="container">
                            <img src="/images/@item.comFile2" style="width:30%;" />
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.comDate)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.comType)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.isreaded)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.isSolved)
                        </td>
                        <td class="container">
                            @Html.DisplayFor(modelItem => item.solveDescription)
                        </td>
                        <td class="container" style="display:inline-flex">
                            @Html.ActionLink("تعديل", "Edit", new { image1 = @item.comFile, image2 = item.comFile2, id = item.id }, new { @class = "btn btn-success" })
                        </td>
                        <td class="container">
                            @Html.ActionLink("تفاصيل", "Details", new { image1 = @item.comFile, image2 = item.comFile2, id = item.id }, new { @class = "btn btn-primary" })
                           </td>
                        <td class="container">
                            @Html.ActionLink("حذف", "Delete", new { image1 = @item.comFile, image2 = item.comFile2, id = item.id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
                </tbody>

        </table>

    </div>
<style>
    body {
        text-align: center;
    }

    .btn {
        display: inline;
    }

    .table th, .table td {
        padding: 0.1rem;
    }
</style>

