@model IEnumerable<project.Models.Complaint>

@{
    ViewBag.Title = "الشكاوى";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}


<table class="table">
    <tr>
        <th>
            المدينة
        </th>
        <th>
           اسم الشاكى
        </th>
        <th>
            تصنيف الشكوى
        </th>
        <th>
            الخدمة
        </th>
        <th>
            الموظف الذى حل الشكوى
        </th>
        <th>
            الموظف الذى قرأ الشكوى
        </th>
        <th>
            رقم الشكوى
        </th>
        <th>
            عنوان الشكوى
        </th>
        <th>
            تفاصيل الشكوى
        </th>
        <th>
            مرفقات الشكوى 1
        </th>
        <th>
            مرفقات الشكوى 2
        </th>
        <th>
            تاريخ الشكوى
        </th>
        <th>
            نوع الشكوى
        </th>
        <th>
            الشكوى قرأت ام لا
        </th>
        <th>
            الشكوى اتحلت ام لا
        </th>
        <th>
            حل الشكوى
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.city.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citzen.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complaint_Catgories.Cat_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entity_Branchs.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Official.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Official1.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comDescription)
        </td>
        <td>
            <img src="/images/@item.comFile" style="width:30%;" />
        </td>
        <td>
            <img src="/images/@item.comFile2" style="width:30%;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isreaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solveDescription)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { image1 = @item.comFile,image2=item.comFile2, id = item.id }, new { @class = "btn btn-success" })
            
            @Html.ActionLink("تفاصيل", "Details", new { image1 = @item.comFile, image2 = item.comFile2, id = item.id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("حذف", "Delete", new { image1 = @item.comFile, image2 = item.comFile2, id = item.id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<style>
    body {
        text-align: center;
    }

    .btn {
        display: inline;
    }

    .table th, .table td {
        padding: 0.1rem;
    }
</style>

