@model IEnumerable<project.Models.Complaint>

@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>الشكاوى</title>
</head>
<body>
    <p>
        @Html.ActionLink("ارسال شكوى", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
               المدينة
            </th>
            <th>
                الوزارة
            </th>
            <th>
                المحافظة
            </th>
            <th>
                رقم الشكوى
            </th>
            <th>
                عنوان الشكوى
            </th>
            <th>
                تفاصيل الشكوى
            </th>
            <th>
                مرفقات الشكوى
            </th>
            <th>
                تاريخ الشكوى
            </th>
            <th>
                حاله الشكوى
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.city.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entity.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entity_Branchs.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comDescription)
                </td>
                <td>
                    <img src="/images/@item.comFile"style="width:30%;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comStatus)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new {image=@item.comFile, id = item.id },new { @class = "btn btn-success" }) 
                    @Html.ActionLink("تفاصيل", "Details", new { image = @item.comFile, id = item.id },new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("حذف", "Delete", new { image = @item.comFile, id = item.id },new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <style>
        body {
            text-align: center;
        }

        .btn {
            display: inline;
           
        }
        .table th, .table td{
            padding: 0.25rem;
        }
        
    </style>
</body>
</html>
