
﻿@model List<project.Models.Complaint>
@{
    ViewBag.Title = "ComplaintSearch";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="ابحث برقم الشكوى" title="Type in a name">
<table id="myTable">
    <tr class="header">
        <th style="width:40%;">رقم الشكوى</th>
        <th style="width:40%;"> عنوان الشكوى</th>
        <th style="width:40%;"> تفاصيل الشكوى</th>
        <th style="width:40%;">تاريخ الشكوى</th>
        <th style="width:40%;">الخدمة</th>
        <th style="width:40%;">نوع الشكوى</th>
        <th style="width:40%;">حل الشكوى</th>
        <th style="width:40%;"> اسم الشاكي</th>
        <th style="width:40%;">مرفقات الشكوى1</th>
        <th style="width:40%;">مرفقات الشكوى2</th>
    </tr>
    @foreach (var complaint in Model)
    {

<tr>
    <td>@complaint.comNumber</td>
    <td>@complaint.comTitle</td>
    <td>@complaint.comDescription</td>
    <td>@complaint.comDate</td>
    <td>@complaint.comEntitybranch</td>
    <td>@complaint.comType</td>
    <td>@complaint.solveDescription</td>
    <td>@complaint.Citzen.fName</td>
    <td><img src="~/images/@complaint.comFile" /></td>
    <td><img src="~/images/@complaint.comFile2" /></td>

</tr>
    }
</table>
<script>
    window.onload=function () { document.getElementById("myTable").style.display = "none"; }
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  table.style.display = "block";
  for (i = 0; i < tr.length; i++) {

    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {

        tr[i].style.display = "none";
      }
    }
  }

}
</script>

<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        margin-top: 10px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
        margin-top: 10px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>
