@model project.Models.Entity
@{
    ViewBag.Title = "اضافة هيئة جديدة";
    Layout = "~/Views/Shared/_adminMainLayout.cshtml";
}
<div class="col-md-3"></div>
<div class="col-md-6">
    <h2 class="text-center btn-success">إضافة هيئة جديدة</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-10">
                    <h6 class="text-center">اسم الهيئة</h6>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                    <br />
                    <h6 class="text-center">العنوان </h6>
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    <br />
                    <h6 class="text-center">رقم التليفون </h6>
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    <br />
                    <h6 class="text-center">رقم الفاكس </h6>
                    @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
                    <br />
                    <h6 class="text-center">رئيس الهيئة</h6>

                    @Html.DropDownList("mangerId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.mangerId, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="حفظ" class="btn btn-primary" />
                    <br /><br />
                    @Html.ActionLink("العودة الى القائمة السابقة", "Index", null, new { @class = "text-center" })
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-6">
</div>


