@model project.Models.Citzen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Citzen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationailnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationailnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalNumberImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalNumberImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reg_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reg_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accept_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accept_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.works_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.works_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accpted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accpted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isdeleated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isdeleated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocked)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
