
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_adminMainLayout.cshtml";
}
<div class="container" >
          <div class="container">
              <div class=" container" style="display:inline-flex;padding-left:10px;">
                  @Html.ActionLink("محافظة", "Index", "Governments", null, new { @class = "form-control btn btn-success" ,@style="padding:6%;margin:2% 3%;"} )
                  @Html.ActionLink("مدينة", "Index", "cities", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
                  @Html.ActionLink("قطاع", "Index", "Entities", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
              </div>
              <div class="container" style="display:inline-flex;">
                  @Html.ActionLink("خدمة", "Index", "EntityBranchs", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
                  @Html.ActionLink("الشكاوى", "Index", "Complaints", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
                  @Html.ActionLink("الموظفين", "Index", "Officials", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })

              </div>
              <div class="container" style="display:inline-flex;">
                  @Html.ActionLink("وظائف الموظفين", "Index", "OfficialJobs", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
                  @Html.ActionLink("المواطنين", "Index", "Citzens", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
                  @Html.ActionLink("المسؤلين", "Index", "Admins", null, new { @class = "form-control btn btn-success", @style = "padding:6%;margin:2% 3%;" })
              </div>
          </div>
</div>
