
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_adminMainLayout.cshtml";
}
<div class="container">
    <br /><br />
    @Html.ActionLink("محافظة", "Index", "Governments",null, new { @class = "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("مدينة", "Index", "cities",null,new { @class="form-control btn btn-success"})<br /><br />
    @Html.ActionLink("قطاع", "Index", "Entities",null,new { @class= "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("خدمة", "Index", "EntityBranchs",null,new { @class= "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("الشكاوى", "Index", "Complaints",null, new { @class = "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("الموظفين", "Index", "Officials",null, new { @class = "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("وظائف الموظفين", "Index", "OfficialJobs",null, new { @class = "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("المواطنين", "Index", "Citzens",null, new { @class = "form-control btn btn-success" })<br /><br />
    @Html.ActionLink("المسؤلين", "Index", "Admins",null, new { @class = "form-control btn btn-success" })<br /><br />
 
</div>
